<h3>Search By Name</h3>

<input type="text" [(ngModel)]="searchText" aria-label="Number"  placeholder="Search resource by name">

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="employeeData| search: searchText">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="joining_date">
      <mat-header-cell *matHeaderCellDef> Joining Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.joining_date}} </mat-cell>
    </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
</div>
<ng-template #noResults>
<p>No results found for "{{searchText}}".</p>
</ng-template>

<button mat-button color="primary"><a routerLink="/candidateDetails">Back</a></button>
